body{
  margin: 20px;
  font-family: 'Segoe UI', sans-serif;
  background-color: #FFC6c6 ;
  color: #594100;
}
button {
  padding: 20px;
  background-color: #644A07;
  color: white;
  text-decoration: none;
  border: solid #644A07 6px;
}
